.imgDiv {
  position: relative;
}

.remove {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.favorite {
  position: absolute;
  bottom: 10px;
  left: 70px;
}

#favoritesDiv {
  display: none;
}

#showSearchResults {
  display: none;
}
